body {
    background: #6a1b9a;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttons {
    text-align: center;
}

.btn, .stop {
    background: #4527a0;
    color: white;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.stop {
    background: red;
}